/* Medida Mobile 400 x 626 */

.container-form {
display: flex;
flex-direction: column;
align-items: center;
width: 80%;
height: max-content;
padding: 2rem 1.5rem;
background: #f8f9f9;
margin: 1rem 1rem 1rem 2.5rem;
}

.title-form {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
  color: #02363d;
}

.form {
  display: flex;
  flex-direction: column;
}

.container-label-input, .container-label-select{
  margin-top: 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8rem;
  font-weight: 520;
  color: #02363d;
  display: flex;
  flex-direction: column;
}

input, select{
  height: 2.6rem;
  border: solid 1px #68737d;
  font-size: 0.9rem;
  padding: 0.6rem;
  border-radius: 0.1rem;
}

input.error, select.error{
  border: 1px solid red;
}

.error-message {
   color: red;
   font-size: 0.8rem;
}

select{
  font-size: 0.8rem;
}

.button-form{
    height: 2.8rem;
    margin-top: 2rem;
    background: #02363d;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.button-form:hover{
    background-color: #0f5761;
}

/* Medida Tablet 768 x 1024 */

@media screen and (min-width:768px) {

  .container-form {
    padding: 3rem 2rem;
    margin: 1rem 4.5rem 1rem 6rem;
    width: 75%;
    }
    
    .title-form {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
    
    .container-label-input, .container-label-select{
      margin-top: 1.6rem;
      font-size: 1.2rem;
    }
    
    input, select{
      height: 3.2rem;
      font-size: 1.2rem;
      padding: 0rem 2rem;
    }
    
    .error-message {
       font-size: 1.1rem;
    }
    
    select{
      font-size: 1.2rem;
    }
    
    .button-form{
        height: 3rem;
        margin-top: 2rem;
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
}

/* Medida Desktop */

@media screen and (min-width: 1180px) {
  .container-form {
    width: 52%;
    padding: 2rem 1.5rem;
    margin: 5rem 8rem 2rem 1rem;
    }
    
    .title-form {
      font-size: 1.3rem;
    }
    
    .container-label-input, .container-label-select{
      margin-top: 1.2rem;
      font-size: 0.9rem;
      font-weight: 550;
    }
    
    input, select{
      height: 3rem;
      font-size: 0.9rem;
      padding: 0 11rem 0 1rem;
    }
    
    .error-message {
       font-size: 0.8rem;
       margin-top: 0.3rem;
    }
    
    select{
      font-size: 0.9rem;
    }
    
    .button-form{
        height: 3rem;
        font-weight: 530;
        font-size: 1.2rem;
    }
}