.container-main{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Medida Desktop */

@media screen and (min-width: 1180px) {
    .container-main{
        flex-direction: row;
    }
}