/* Medida Mobile 400 x 626 */

footer {
    margin: 1rem 8rem 0 6rem;
  }
  
  .container-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Proxima Nova';
  }
  
  .social-networks-footer{
    display: flex;
    flex-direction: row;
    gap: 0.5rem; 
    transform: scale(0.8);
    margin-top: 0.2rem;
  }
  
  .social-networks-footer img {
    filter: opacity(0.2) drop-shadow(0 0 0 var(--gray-light-color));
    cursor: pointer;
    width: 45px;
  }
  .social-networks-footer img:hover {
    filter: opacity(0.9) drop-shadow(0 0 0 var(--gray-light-color));
    width: 50px;
    transition: var(--transition);
    transform: scale(1.2);
    
  }
  
  .hr-footer{
    border: 1px solid var(--gray-color);
    margin-bottom: 1rem;
    opacity: 0.6;
  }
  
  
  @media screen and (min-width:768px) { 
    .container-footer{
    flex-direction: row;
    gap: 2rem;
    }; 
  };

