/* Medida Mobile 400 x 626 */

.container-modal {
  width: 70%;
  height: 35%;
  background: #ffffff;
  margin-left: 2.5rem;
  position: fixed;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.icon-modal {
  margin: 1rem 0 0 8rem;
  font-size: 1rem;
}

.title-modal {
  font-family: "SharpSansNo1-Semibold";
  font-size: 1.3rem;
  text-align: center;
  color: #02353c;
  margin-top: 1rem;
}
.text-modal {
  color: #021700;
  text-align: center;
  font-size: 1rem;
  padding: 1.2rem;
  line-height: 1.5rem;
}

/* Medida Tablet 768 x 1024 */

@media screen and (min-width: 768px) {
  .container-modal {
    width: 65%;
    height: 30%;
    margin-left: 8.3rem;
  }

  .icon-modal {
    margin: 1rem 0 0 14.2rem;
    font-size: 1.5rem;
  }

  .title-modal {
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }
  .text-modal {
    font-size: 1.3rem;
    padding: 1.7rem;
    line-height: 2rem;
  }
}

/* Medida Desktop */

@media screen and (min-width: 1180px) {
  .container-modal {
    width: 40%;
    height: 50%;
    margin-left: 30rem;
  }

  .icon-modal {
    margin: 1rem 0 0 18rem;
    font-size: 1.2rem;
  }

  .title-modal {
    font-size: 2rem;
    margin-top: 3.5rem;
  }
  .text-modal {
    font-size: 1.3rem;
    padding: 1.7rem;
    line-height: 2rem;
  }
} ;
