*{
  margin:0;
  padding: 0;
  border:0;
  outline:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
    --primary-color: #405457;
    --second-color:#02363D  ;
    --third-color: #C05100 ;
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --black-color: #000;
    margin: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'SharpSansNo1-Bold';
  color: #000;
}