/* Medida Mobile 400 x 626 */

.container-info {
  margin-top: 1rem;
  font-family: "Proxima Nova";
  line-height: 1.6rem;
  color: #405457;
}

.sponsors {
  max-width: 22rem;
  padding: 0.7rem;
  margin: 0 1.1rem 0 1.1rem;
}

.informative-paragraph {
  font-size: 0.9rem;
  padding: 0.2rem;
  margin: 0.6rem 1.5rem 0 1.5rem;
}

.container-specialists {
  margin: 1rem 0rem 1rem 2rem;
}

.container-specialist {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 6rem;
}

.image-specialist {
  max-width: 15%;
}

.info-speacialist {
  font-family: "sharp sans";
  padding: 2.5rem;
}

.name-specialist {
  font-size: 1.1rem;
  font-weight: bold;
}

.position-specialist {
  font-size: 0.9rem;
}

/* Medida Tablet 768 x 1024 */

@media screen and (min-width: 768px) {
  
  .sponsors {
    max-width: 40rem;
    margin-left: 4rem;
  }
  
  .informative-paragraph {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 0.4rem 3rem 0 3rem;
  }
  
  .container-specialists {
    margin: 3rem 3rem 1rem 3rem;
  }
  
  .container-specialist {
    max-height: 5rem;
    margin-bottom: 2.4rem;
  }
  
  .image-specialist {
    max-width: 12%;
  }
  
  .info-speacialist {
    padding: 2.5rem;
  }
  
  .name-specialist {
    font-size: 1.5rem;
  }
  
  .position-specialist {
    font-size: 1.2rem;
  }
}

/* Medida Desktop */

@media screen and (min-width: 1180px) {

  .container-info {
    margin-top: 5rem;
  }

  .sponsors {
    margin-left: 7rem;
  }
  
  .informative-paragraph {
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0.4rem 4rem 0 7rem;
  }
  
  .container-specialists {
    margin: 2rem 2rem 2rem 8rem;
  }
  
  .container-specialist {
    margin-bottom: 2.1rem;
  }
  
  .image-specialist {
    max-width: 13%;
  }
  
  .name-specialist {
    font-size: 1.2rem;
  }
  
  .position-specialist {
    font-size: 1.1rem;
  }
}
