/* Medida Mobile 400 x 626 */

.container-info{
  margin-top: 1rem;
  font-family: "Proxima Nova";
  line-height: 1.6rem;
  color: #405457;
}

.sponsors{
    max-width: 22rem;
    padding: 0.7rem;
    margin: 0 1rem 0 0.2rem;
}

.informative-paragraph{
font-size: 0.9rem;
padding: 0.2rem;
margin: 0.6rem 2.9rem 0 1rem;
}

.container-specialists{
  margin: 1rem 0 1rem 1rem;
}

.container-specialist{
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.6rem;
  max-height: 5rem;
}

.image-specialist{
  max-width: 16%;
}

.info-speacialist{
  font-family: "sharp sans"; 
  padding: 2.5rem;
}

.name-specialist{
  font-size: 1.1rem;
}

.position-specialist{
  font-size: 0.9rem;
}

@media screen and (min-width:768px) {
  .sponsors{
    max-width: 700px;
    margin: 0 3rem 0 4rem;
}
.informative-paragraph{
  font-size: 20px;
  margin: 0 1.5rem 0 2rem;
  }

  .container-specialists{
    margin: 1rem 0 1rem 4rem;
  }
  
  .name-specialist{
    font-size: 20px;
  }

}

@media screen and (min-width: 1100px) {
  .container-info{
    margin-top: 2rem;
    margin-left: 6rem;
    font-size: 1rem;
  }
}
